.project-estimate {
  padding: 2rem;

  &--title {
    margin-bottom: 1rem;
  }

  .wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-basis: auto;
    & > * {
      flex: 1;
    }
  }
}
